@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mynerve', cursive;

}

.geek{
  font-weight: 900;
}